/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* navbar */
.bd-navbar {
    background-color: #563d7c;
}

.nav-item {
    margin-bottom: 0px;
    font-family: Inter, sans-serif;
    color: #7952b3 !important;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.013em;
}

.heading1 {
    color: #303030;
    font-weight:500;
    font-size: 2.5rem;
    line-height: 1.2;
}

.heading2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Provide sufficient contrast against black background */
/* Controls Hyperlink colour (Default blue) */
a {

}

    /* mouse over link  */
    a:hover {
        color: #7952b3;
    }

.btn-primary {
    color: black;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7952b3;
    background-color: #7952b3;
    border-color: #7952b3;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 0.875em; /* Was 14px */
}

@media (min-width: 768px) {
    html {
        font-size: 1em; /* Was 16px */
    }
}

.border-top {
    border-top: 0.0625em solid #e5e5e5; /* Was 1px */
}

.border-bottom {
    border-bottom: 0.0625em solid #e5e5e5; /* Was 1px */
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff; /*  Colour of background in body */
    color: black; /* Colour of text in body */
    /* https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 */

    text-align: justify;
    margin-bottom: 3.75em; /* Was 60px */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 3.75em; /* Vertically center the text there */ /* Was 60px */
}

/* Used to invert the social media icons from black to white. */
.InvertSvgColour {
    filter: invert(1);
}

/* Edits the main body */
body, html {
    height: 100%;
    margin: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #555;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
}

/* Apply these styles to the text, excludes the header and footer */
.textStyleCSS {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


.footerText {
    color: black;
    text-align: center;
}

.noteCSS {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.4;
    font-style: italic;
    background-color: #616161;
}

/* Graident for headers */
/* Shamelessly stolen from https://webplatform.news/issues/2018-11-02 */
.Gradient {
    color: orangered; /* fallback */
}

@supports (background-clip: text) { /* Firefox Support */
    .Gradient {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff00ff+0,ff4500+100 */
        background: rgb(255,0,255); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(255,0,255,1) 0%, rgba(255,69,0,1) 100%); /* FF3.6-15 */
        color: transparent;
        background-clip: text;
    }
}

@supports (-webkit-background-clip: text) { /* Chromium Support */
    .Gradient {
        background: -webkit-linear-gradient(-45deg, rgba(255,0,255,1) 0%,rgba(255,69,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(255,0,255,1) 0%,rgba(255,69,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: transparent;
        -webkit-background-clip: text;
    }
}

.License {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.4;
    font-style: italic;
}

#License {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.4;
    font-style: italic;
}

.callout-content {
    margin-bottom: 0px;
    padding: 16px;
    -ms-grid-columns: 1fr 220px;
    grid-template-columns: 1fr 220px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-radius: 8px;
    background-color: #fff;
}

.colour-gradient {
    width: 90%;
    max-width: 1280px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    padding: 32px;
    border-radius: 12px;
    background-image: url("https://assets.website-files.com/600ead1452cf056d0e52dbed/603408f80d379f66929884cf_PurpleBackground%20(1).png");
    background-position: 0px 0px;
    background-size: cover;
}

div.responsiveText {

}

@media screen and (min-width: 601px) {
    div.responsiveText {
        font-size: 6em;
    }
}

@media screen and (max-width: 600px) {
    div.responsiveText {
        font-size: 1.5em;
    }
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

.commits {
    font-size: 1.3rem;
    font-weight: 500;
}

.flexBox {
    display: flex; /* or inline-flex */
}

.iconsSpace {
    margin-right: 8px;
}