/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* navbar */
.navbar-default {
    background-color: #424242;
    border-color: #E7E7E7;

}

.nav-item {
    margin-bottom: 0px;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.013em;
}

/* Provide sufficient contrast against black background */
/* Controls Hyperlink colour */
a {
    color: #A3CEDC;
}

    /* mouse over link  */
    a:hover {
        color: #537E8C;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 0.875em; /* Was 14px */
}

@media (min-width: 768px) {
    html {
        font-size: 1em; /* Was 16px */
    }
}

.border-top {
    border-top: 0.0625em solid #e5e5e5; /* Was 1px */
}

.border-bottom {
    border-bottom: 0.0625em solid #e5e5e5; /* Was 1px */
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #1c1e27; /*  Colour of background in body */
    color: white; /* Colour of text in body */
    /* https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 */

    text-align: justify;
    margin-bottom: 3.75em; /* Was 60px */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 3.75em; /* Vertically center the text there */ /* Was 60px */
}

{
    /* .push must be the same height as footer */
    height: 50px;
}

/* Used to invert the social media icons from black to white. */
.InvertSvgColour {
    filter: invert(1);
    text-align: center;
}

/* Edits the main body */
body, html {
    height: 100%;
    margin: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #555;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #616161;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
}

/* Apply these styles to the text, excludes the header and footer */
.textStyleCSS {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 120%;
    line-height: 1.4;
}

.noteCSS {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.4;
    font-style: italic;
    background-color: #616161;
}

/* Graident for headers */
/* Shamelessly stolen from https://webplatform.news/issues/2018-11-02 */
.Gradient {
    color: orangered; /* fallback */
}

@supports (background-clip: text) {
    .Gradient {
        background-image: linear-gradient(45deg, fuchsia, orangered);
        color: transparent;
        background-clip: text;
    }
}

#License {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.4;
    font-style: italic;
}

.callout-content {
    margin-bottom: 0px;
    padding: 16px;
    -ms-grid-columns: 1fr 220px;
    grid-template-columns: 1fr 220px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-radius: 8px;
    background-color: #1d1e22;
}

.colour-gradient {
    width: 90%;
    max-width: 1280px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    padding: 32px;
    border-radius: 12px;
    background-image: url("https://assets.website-files.com/600ead1452cf056d0e52dbed/603408f80d379f66929884cf_PurpleBackground%20(1).png");
    background-position: 0px 0px;
    background-size: cover;
}

div.responsiveText {

}

@media screen and (min-width: 601px) {
    div.responsiveText {
        font-size: 6em;
    }
}

@media screen and (max-width: 600px) {
    div.responsiveText {
        font-size: 1.5em;
    }
}
