@page
@model MyWebsite.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<h1 class="display-3">Welcome!</h1>

<p>This is a website to all things me. Yes I know that sounds egotistical but that's not the intention.</p>
<p>I just wanted a website where I can store things I like, as well as  being able to say "yes I built a website and yes you can visit it right now"</p>

<!-- Maybe insert the BigSmug emote here hehehehe -->
<!-- Or maybe a picture of myself since that would fit the theme -->

<h3>Who am I?</h3>
<p>My name is Callum Wellard. I was born on the 9th of september, 1998. That would make me @ViewData["CallumDOB"].</p>

<p>I'm going to include a bunch of stuff here such as my CV as well as any pictures of myself. I'm not expecting to keep this website up to date but if I do then that 
    would be pretty damn cool I can't deny.
</p>

<a class="nav-link text-light" asp-area=""asp-page="/Pictures">Want to see pictures of cute me? Here ya go!</a>

<h3>Socials</h3>
<p>If you ever want to contact me then my socials are as followed:</p>

<div class="InvertSvgColour">
    <p>

        <a href="https://www.youtube.com/channel/UCR6F4uDpl-NWs5-GULFKxFg">
            <img src="~/images/icons/youtube.png" alt="YouTube icon" style="width:64px; height:64px;">
        </a>
        <a href="https://steamcommunity.com/profiles/76561198184642273/">
            <img src="~/images/icons/steam.png" alt="Steam icon" style="width:64px; height:64px;">
        </a>
        <a href="https://twitter.com/Alulcard">
            <img src="~/images/icons/twitter.png" alt="Twitter icon" style="width:64px; height:64px;">
        </a>
        <a href="https://www.reddit.com/user/Alulcard/">
            <img src="~/images/icons/reddit.png" alt="Reddit icon" style="width:64px; height:64px;">
        </a>
        <a href="https://github.com/Aluulu">
            <img src="~/images/icons/github.png" alt="Github icon" style="width:64px; height:64px;">
        </a>
    </p>
</div>
<!-- https://www.flaticon.com/packs/social-media-51 -->