@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arapey&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg123 {
  /* The image used */
  background-image: url("images/testimages19201080.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bg123">
    <div class="caption">
    <span class="border">heya, I'm</span>
    <br>
    <span class="border">Callum Wellard</span>
</div>
</div>

<style>
    .caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: arapey,sans-serif;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: arapey,sans-serif;
}

body, html {
  font: 400 15px/1.8 "arapey", sans-serif;
    font-size: 15px;
  color: #777;
}

</style>



</body>
</html>