@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="display-4">Hello Eva</h1>
<p>It was a lovely saturday morning, sunlight basking the forest in a golden glow. Through the car window, that beautiful location almost didn't resemble a death trap. Especially the lake when its water's fine reflection dared you to swim in it.</p>
<p>Kenny, from the backseat, twitched his nose at the local map.</p>
<p>- Are you sure we'll have enough gas to go back home later? That is a long ride! Are we there yet? (Y/N), why the flying f*k did you have to pick that place instead of, I dunno, anywhere nearer?...</p>
<p>Adam looked at you and whispered:</p>
<p>- He's not wearing a seatbelt, is he?</p>
<p>You looked over your shoulder. Indeed not. But Kenny wasn't that wrong to complain about the long wait since Adam chose to take the roadway to Pinehurst, passing through Higgins Haven and therefore contouring most of the lake to get to the site you incidentally chose for the picnic. He'd do anything to avoid the slightest proximity to the cursed campsite that almost claimed your lives. You didn't object, even when Kenny begged you to. After all, that was Jason's favorite abhorrence site.</p>
    
    
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

