@page
@model MyWebsite.Pages.Jobs_and_EducationModel
@{
}
<style>.footer {position: relative;}</style> <!-- Makes the footer stay at the bottom of the page when the scroll bar appears -->

<h1 class="heading1">Job history</h1>
<p>I worked at Markey Group starting September 2021 as a first-line support technician. It was a rather simple job, manning the helpdesk and responding to tickets, it was overall a pleasent experence</p>







<!-- STOLEN FROM http://www.pascalvangemert.nl/#/experiences -->



<div id="experiences" class="container">
			<h2 Style="text-align: center;">Experiences</h2>
<p class="lead" Style="text-align: center;">
	“Protons give an atom its identity, electrons its personality.”<br>- Bill Bryson, A short history of nearly everything
</p>

<hr>

<!--<div class="alert alert-danger">
	<strong>Looking for an awesome new challenge somewhere in the neighborhood of Den Bosch or Amsterdam as a Creative PHP Web Developer. </strong>
</div>-->

<h3>Education</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Penn University</h4>
			<p class="experience-period">
				Mar 2014				- 
				May 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Course - Gamification (course)</strong>
				<p>
					Gamification is the application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course thought me about the mechanisms of gamification, why it has such tremendous potential, and how to use it effectively.
				</p>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Avans Highschool</h4>
			<p class="experience-period">
				Aug 2004				- 
				Jun 2008			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Bachelor - Computer Science (Specialization: Multimedia)</strong>
				<span class="hidden-phone">
					The education was mainly Java-based programming, but I also learned about SQL, PHP, MVC, UML and more. During my time in college, I specialized in multimedia. Here I learned about gaming -the importance of OOP-, web- and user experience and design.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						's-Hertogenbosch					</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Rodenborch</h4>
			<p class="experience-period">
				Aug 1999				- 
				Jun 2004			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Highschool - Havo (Nature/Technics &amp; Nature/Health)</strong>
				<span class="hidden-phone">
					I graduated highschool, where I enjoyed doing science, math, biology and arts. I realized in my third year of school that I wanted to do something with websites, and so I started making small flash/actionscript applications.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Rosmalen					</span>
				</span>
			</p>
		</div>
	</div>
	
	
</div>
	
	

<hr>

<h3>Careers</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Startselect | Online Prepaid Services</h4>
			<p class="experience-period">
				May 2016				- 
				current			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Senior Web Developer</strong>
				<span class="hidden-phone">
					Working as a Senior Devloper on a large european based webshop for digital games and gifrcards. The application is Laravel based and as a team we are working in a fully scrum way. . 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Eindhoven					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://startselect.com" target="_blank">http://startselect.com</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>The Secret Lab</h4>
			<p class="experience-period">
				Aug 2015				- 
				Apr 2016			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Senior Web Developer</strong>
				<span class="hidden-phone">
					As a senior at The Secret Lab I work on projects like Kaartjes.nl, Clay.com and more. Using frameworks and technologies such as Laravel, Wordpress, Drupal 8 and ElasticSearch. I also introduced working with Git Flow and supporting my colleagues to write nice readable and reusable code. 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Amsterdam					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://thesecretlab.nl" target="_blank">http://thesecretlab.nl</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Caviar Digital</h4>
			<p class="experience-period">
				Feb 2015				- 
				Jul 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Creative Developer</strong>
				<span class="hidden-phone">
					Caviar Digital is a digital agency based in Amsterdam. I worked here as a creative developer on a big project for the new Samsung Galaxy S6 / S6 edge and created a configurable CMS based on the Laravel Framework. Due to economically reasons it was a short but good experience.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Amsterdam					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://digital.caviarcontent.com/" target="_blank">http://digital.caviarcontent.com/</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Whoopaa / HRMatches</h4>
			<p class="experience-period">
				Apr 2011				- 
				Jan 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Lead Developer</strong>
				<span class="hidden-phone">
					Whoopaa is a startup that began as a social network where users were able to separate their business- and personal social life. As this idea didn't exactly take off the way we expected it to, we changed the idea. We began a job matching platform, where Whoopaa became the place for job seekers to make an interactive CV enriched with certified tests. The place where companies can create job openings and efficiently find the right candidates needed a name as well, and was called HRMatches. I developed an own framework, which I improved in user experience and speed after the big idea change. I also developed the real time match algorithm as well as a lot of other helpful algorithms.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						's-Hertogenbosch					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://www.whoopaa.com/" target="_blank">http://www.whoopaa.com/</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>C2K internet solutions</h4>
			<p class="experience-period">
				Sep 2008				- 
				Mar 2011			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Lead Developer</strong>
				<span class="hidden-phone">
					Right after I graduated, I started working for C2K: a full service internet agency. I developed a homemade CMS, CRM and e-mail marketing system. The CMS was used for a dozens of clients, as well as the e-mail marketing system. I also did a lot of custom made web sites/applications. Later on I also developed Layars like: Conquar (a digital adaption of the board game of Risk) and Gowalla (based on Gowalla's API). C2K no longer exists.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Eindhoven / 's-Hertogenbosch					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Davinci Advies Groep</h4>
			<p class="experience-period">
				Feb 2008				- 
				Jul 2008			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Graduate Internship - ICT Consultant</strong>
				<span class="hidden-phone">
					My second internship and the place I eventually graduated, was at Davinci. I investigated new web-technologies they could possibly use to improve the front-end of their java-based CRM system. I compared technologies such as Adobe Flex, Silverlight, Ruby on Rails together, to find out which could work best for the company. Based on the results of my research, the company eventually decided to use the ZK Framework.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Amsterdam					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://www.davincigroep.nl/" target="_blank">http://www.davincigroep.nl/</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Sanitairwinkel.nl</h4>
			<p class="experience-period">
				Oct 2007				- 
				Jun 2008			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Part-time - Webdeveloper</strong>
				<span class="hidden-phone">
					At sanitairwinkel.nl, I improved/expanded the current webapplication and re-factored the code. I also created a brand new back-end system and improved the front-end by giving it a new look and feel. I also improved the website's SEO. 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Rosmalen					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://www.sanitairwinkel.nl/" target="_blank">http://www.sanitairwinkel.nl/</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Goomla.com</h4>
			<p class="experience-period">
				Jan 2007				- 
				Sep 2007			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Part-time - PHP Developer</strong>
				<span class="hidden-phone">
					After my internship ended I was asked to stay as part-time employee. Goomla became partner of the year of Bol.com. In October 2007 Goomla was sold to Daisycon.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Eindhoven					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Goomla.com</h4>
			<p class="experience-period">
				Aug 2006				- 
				Jan 2007			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Internship - PHP Developer</strong>
				<span class="hidden-phone">
					I did my first internship at a company named Goomla. There I learned to apply my knowledge of PHP. Goomla was a shopping/comparison-site, with more than 100 affiliates including bol.com, wehkamp, neckermann, to name a few.				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Eindhoven					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
	
</div>
	
		</div>