@page
@model MyWebsite.Pages.What_sNewModel
@{
    ViewData["Title"] = "Weather";
}

<style>
    .footer {
        position: relative;
    }
</style> <!-- Makes the footer stay at the bottom of the page when the scroll bar appears -->

    <h1 id="WeatherLocationHeading">Weather in a place of your choice!</h1>
    <label class="lead">Choose a location for Weather:</label>
    <br>
    <input type="text" id="WeatherLocation">

    <button type="button" onclick="CheckWeatherFromAPI()">Check the Weather!!</button>


    <p id="WeatherDescription" class="lead"></p>
    <p id="WeatherFeelsLike" class="lead"></p>
    <p id="WeatherHumidity" class="lead"></p>
    <p id="WeatherWindSpeed" class="lead"></p>
    <img id="WeatherIcon" src="" alt="" width="200" height="200">

    <script>

        // Created it as a function so that it can be called from the button
        function CheckWeatherFromAPI() {

            // Fetch weather data from API
            var WeatherLocation_ChoosenByUser = document.getElementById("WeatherLocation").value;
            fetch('https://api.openweathermap.org/data/2.5/weather?q=' + WeatherLocation_ChoosenByUser + '&appid=833d0f10a491cdf1287668b859b66005&units=metric')

                // Convert response string to json object
                .then(response => response.json())

                // response.json is the stored data from the GET API call
                .then(response => {

                    // Display whole API response in browser console (take a look at it!)
                    console.log(response);

                    // Change the name of the location in the heading
                    document.getElementById("WeatherLocationHeading").innerHTML = "You have chosen to check the weather in: " + response.name;

                    // Provide the description for the weather 
                    document.getElementById("WeatherDescription").innerHTML = response.name + " currently is " + response.weather[0].description;

                    // Grabs the Feels Like data from the API Object
                    document.getElementById("WeatherFeelsLike").innerHTML = "The weather feels like: " + response.main.feels_like + "°C";

                    // Grabs the Humidity data from the API Object
                    document.getElementById("WeatherHumidity").innerHTML = "Humidity: " + response.main.humidity + "%";

                    // Grabs the Wind data from the API Object
                    document.getElementById("WeatherWindSpeed").innerHTML = "Wind speed " + response.wind.speed + "mph";

                    // Changes the source of the image labelled WeatherIcon to the location of the icons by combining the url and the ID together
                    //var WeatherIconLocation =
                        document.getElementById("WeatherIcon").src = "http://openweathermap.org/img/wn/" + response.weather[0].icon + "@@2x.png";



                })
                .catch(err => {

                    // Display errors in console
                    console.log(err);
                    // document.getElementById("WeatherDescription").innerHTML = response.name + console.log(err)
                });
        }

    </script>