@page
@model MyWebsite.Pages.What_sNewModel
@{
    ViewData["Title"] = "What's new";
}

<style>
    .footer {
        position: relative;
    }
</style> <!-- Makes the footer stay at the bottom of the page when the scroll bar appears -->

<h1 class="heading1">@ViewData["Title"]</h1>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/28173560b3533d50e414b7a3a8a4cc04047a2bbb">
        <h2 class="commits">Commit 28173560b3533d50e414b7a3a8a4cc04047a2bbb</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License">04/05/2021</h3>
</div>
<h4>Adjusted from Dark Mode to Light Mode.</h4>
<p>
    -Change <code>.body {background-color}</code> to white.<br />
    -Changed <code>.bd-navbar {background-color}</code> to purple.<br />
    -Changed <code>.body {color}</code> to be black.<br />
    -Removed <code>.Gradient</code> from headings.<br />
</p>
<br />

<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/bc2414c31aa2d38c21b77155f616619de529e2d5">
        <h2 class="commits">Commit bc2414c31aa2d38c21b77155f616619de529e2d5</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License">30/04/2021</h3>
</div>
<h4>Create Test.cshtml</h4>
<p>
    -Created Test.cshtml<br />
    -Added responsive slideshow gallery.<br />
    -Added Office365.svg<br />
    -Added Test.cshtml to navbar<br />
</p>
<br />

<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/a318d1be8b2b59e0220ac2df98f2ebfd823c1117">
        <h2 class="commits">Commit a318d1be8b2b59e0220ac2df98f2ebfd823c1117</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License" style="float: right;">30/04/2021</h3>
</div>
<h4>Displaying correct title in Documents.cshtml</h4>
<p>
    -Fixed <code>ViewData["Title"]</code> displaying the incorrect title.<br />
</p>
<br />

<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/d49cf321f39f62b6f947274d74d8e746b6ed8192">
        <h2 class="commits">Commit d49cf321f39f62b6f947274d74d8e746b6ed8192</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License" style="float: right;">27/04/2021</h3>
</div>
<h4>Update AboutMe.cshtml</h4>
<p>
    -Fixed issue <a href="https://github.com/Aluulu/MyWebsite/issues/9">#9</a><br />
</p>
<br />

<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/a41047ad0c0ee8bfb4db161f47452682ec7c9830">
        <h2 class="commits">Commit a41047ad0c0ee8bfb4db161f47452682ec7c9830</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License" style="float: right;">27/04/2021</h3>
</div>
<h4>Updated Documents.cshtml</h4>
<p>
    -Added <code>a href="/documents/CV.pdf download</code> to download documents by clicking images.<br />
    -Changed <code>h1</code> to be relevant to document's page.<br />
    -Added a gradient border <code>(.Gradient)</code> around text and images.<br />
    -Added .SVG to images folder.<br />
    -Removed old Word image.<br />
    -Added two variants of a document (.docx and .pdf).<br />
    -Removed <code>text-align: center;</code> from site.css<br />
</p>
<br />

<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/github.png" alt="GitHub commit link" style="width:24px; height:24px;">
    <a href="https://github.com/Aluulu/MyWebsite/commit/c4c60028a5f3b7095d395538e0ad7d909939914b">
        <h2 class="commits">Commit c4c60028a5f3b7095d395538e0ad7d909939914b</h2>
    </a>
</div>
<div class="flexBox">
    <img class="iconsSpace" src="~/images/icons/Calendar.svg" alt="YouTube icon" style="width:24px; height:24px;">
    <h3 class="License" style="float: right;">26/04/2021</h3>
</div>
<h4>AboutMe.cshtml improvements</h4>
<p>
    -Added a section on my personal achievements.<br />
    -Added a gradient box <code>(.Gradient)</code> around my socials.<br />
    -Changed <code>h1</code> to fit better in the webpage.<br />
    -General optimizations and cleanup on AboutMe.<br />
    -Added support for responsive text sizes.<br />
    -Made the footer relative on webpages AboutMe, Documents, and Privacy.<br />
</p>